html {
/* follow this tutorial for full image bg: https://css-tricks.com/perfect-full-page-background-image/*/
	background: url(media2/fog.jpg) no-repeat center center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	color: black;
 	/* choice of a clean sans-serif font that has some character to it*/
	font-family: 'Satisfy', cursive;

}

.headers{
margin-left: 20px

}

.unsentText{
	width: 20%;

}

.appear {
  /*specific styling for any buttons in the header (e.g: menu and home buttons)*/
  color: black;
  padding: 12px;
  border: 1px;
  /*making the edges less sharp*/
  border-radius: 4px;
  text-align: left;
  /*removing the default underlining for links*/
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  /*the cursor changes indicating a "button"*/
  cursor: pointer;
  /*for the hover effect, duration of that effect*/
  transition-duration: 0.3s;
 
}
.appear:hover {
	/*all the changes here are to indicate that you are about to press the button, making it more vibrant*/
	background-color:  black;
	color: white;
	font-style: italic;
	border: 0px;

}


.story{
	position: absolute;
	display: block;
	margin-top:0px;
	text-align: left;
	font-size: 20px;
	margin-left: auto;
	margin-right: 20;
	/* width is less than 100% for a boxy/contained effect*/
	width: 40%;
}